@font-face {
    font-family: 'Hans Kendrick 3';
    src: url('HansKendrick-Regular.woff2') format('woff2'),
        url('HansKendrick-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

